
@font-face {
  font-family:"chocolate bom, é choco good";
  src: url("Aston\ Script.ttf");
}

*{
  scroll-behavior: smooth;

}
:target {

  scroll-margin-top: 170px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, rgb(63, 32, 13), rgb(190, 132, 95), rgb(63, 32, 13));

}

header {
   width: 100%;
   margin-top:0%;
   margin-left:0%;
   margin-right:0%;
   top:0%;
   left:0%;
   right:0%;
   text-align: center;
   padding: 20px;
   position:fixed;
   z-index:1;
   backdrop-filter: blur(20px);
}

header h1 {
  font-family: "chocolate bom, é choco good";
  margin-top:0%;
  margin-bottom:0%;
  font-size: 35px;
  text-align: center;
  color: rgb(255, 243, 224);
  text-shadow: 5px 5px 5px rgb(78, 45, 23);

}
header nav a::after {
  content:".....";
  opacity: 0%;
  
}
header nav a {
  text-decoration:none;
  color: rgb(243, 193, 113);
  font-size: 120%;
}

header nav a:hover{
  text-decoration:underline;
  text-shadow: 5px 5px 5px rgb(78, 45, 23);

}

#secao1, #secao11{
  margin-top:170px;

}

.info ul {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style: url("icone_chocolate.jpg.png");
}

.info p {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: rgb(121, 70, 35);
  width: 400px;
  margin-right: 200px;
  max-width: 600px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;


}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  background-color: rgb(210, 180, 140);
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: none;
  flex: 1;

}
.info ul {
  margin:0;
  padding-left: 18px;
}

.info p {
  margin: 5px 0;
}

.info li {
  white-space: normal;
}

.preco {
  
  font-weight:bold;
  color: rgb(139, 0, 0);
}

.extras {
  text-align: center;
  padding: 30px;
  background: rgba(255,255,255,0.1);
  color: white;
}

iframe {
  margin: 10px;
  border-radius: 10px;
}

footer {
  text-align: center;
  color: rgb(255, 243, 224);
  padding: 20px;
}